<body>
<div>
<h1>로또 당첨 가즈아ㅏㅏㅏㅏㅓㅏㅓㅏㅓㅏㅓㅏㅓㅏㅏㅏㅏㅏㅏㅏㅏ!!!!!!!!!!!!</h1>
</div>
<div>↓↓↓↓↓눌러ㅓㅓ↓↓↓↓↓</div>
<div>
<a id='gaja' href="/lotto/show/">인생은 한방 가즈아ㅏㅏㅏㅏㅏㅏㅏ!!!!</a>
</div>
<div>↑↑↑↑↑눌러ㅓㅓ↑↑↑↑↑</div>
</body>
